## 2021: Week 37 - Re-looking at Phone Contract Revenue

The latest version of Tableau Prep was released this week! This included a great new feature that allows you to generate new rows that aren't already available within your data set. If you want to know more then check out Carl's blog post where he has this covered!

As there's a new feature that makes our lives that little bit easier, I thought it would be a great opportunity to revisit one of the older challenges to see how things have changed. Therefore this week we are nearly going all the way back to where Preppin' Data began... Challenge 2019 Week 3! 

If you haven't completed this challenge then you can find the original post here, but for the challenge we are going to calculate the recurring revenue based on a mobile phone contract length. This can be completed in the new version of Prep (2021.3 onwards) or an older version if you haven't had the opportunity to download it yet (better yet, why not try both!). 

### Scenario
You work for a mobile / cell phone company. You boss asks you to pull together the revenue report of your current batch of contracts (sadly there are only four contracts!). They need to know how much revenue is generated each month from these contracts whilst they are 'live' (ie from their start date until 'x' months in the future when the contract runs out).

### Requirement
- Input the Data
- Calculate the End Date for each contract
- Create a Row for each month a person will hold the contract
- Calculate the monthly cumulative cost of each person's contract
- Output the Data

### Output
![img](https://1.bp.blogspot.com/-QLr15tWCcxQ/YUBuX_t2CRI/AAAAAAAAHZM/loe_8PMYy8kcofoEYXeC6f5EquPDKJmqACLcBGAsYHQ/s320/Output.png)

In [213]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Input the Data

In [214]:
data = pd.read_excel("./data/2021 Week 37 Input.xlsx", sheet_name=[0, 1])
contract = data[0].copy()

In [215]:
contract

       Name  Monthly Cost  Contract Length (months) Start Date
0      Carl            20                        24 2018-12-13
1  Jonathan            15                         6 2019-02-22
2      Andy            45                        12 2018-10-17
3    Sophie            30                        12 2018-11-19

In [216]:
contract.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Name                      4 non-null      object
 1   Monthly Cost              4 non-null      int64
 2   Contract Length (months)  4 non-null      int64
 3   Start Date                4 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 256.0+ bytes

### Calculate the End Date for each contract

In [217]:
dt = pd.Timestamp(contract["Start Date"][0])
dt + pd.DateOffset(months=24)

Timestamp('2020-12-13 00:00:00')

In [218]:
contract["End Date"] = contract.apply(lambda x: x["Start Date"] + pd.DateOffset(months=x["Contract Length (months)"]), axis=1)
contract["End Date"]

0   2020-12-13
1   2019-08-22
2   2019-10-17
3   2019-11-19
Name: End Date, dtype: datetime64[ns]

### Create a Row for each month a person will hold the contract

In [219]:
contract = contract.melt(id_vars=["Name", "Monthly Cost", "Contract Length (months)"], 
                         var_name="Period Indication", value_name="Contract period")
contract

,Name,Monthly Cost,Contract Length (months),Period Indication,Contract period
0,Carl,20,24,Start Date,2018-12-13
1,Jonathan,15,6,Start Date,2019-02-22
2,Andy,45,12,Start Date,2018-10-17
3,Sophie,30,12,Start Date,2018-11-19
4,Carl,20,24,End Date,2020-12-13
5,Jonathan,15,6,End Date,2019-08-22
6,Andy,45,12,End Date,2019-10-17
7,Sophie,30,12,End Date,2019-11-19

In [220]:
contract["day"] = contract["Contract period"].dt.day
contract

,Name,Monthly Cost,Contract Length (months),Period Indication,Contract period,day
0,Carl,20,24,Start Date,2018-12-13,13
1,Jonathan,15,6,Start Date,2019-02-22,22
2,Andy,45,12,Start Date,2018-10-17,17
3,Sophie,30,12,Start Date,2018-11-19,19
4,Carl,20,24,End Date,2020-12-13,13
5,Jonathan,15,6,End Date,2019-08-22,22
6,Andy,45,12,End Date,2019-10-17,17
7,Sophie,30,12,End Date,2019-11-19,19

In [221]:
new_rows = contract.set_index("Contract period").groupby(["Name"]).resample("M", origin="start").size().reset_index()
drop_idx = new_rows.drop_duplicates(subset=["Name"], keep="last").index.tolist()
new_rows = new_rows.drop(drop_idx, axis=0)
new_rows.shape

(54, 3)

In [222]:
new_rows["year"] = new_rows["Contract period"].dt.year
new_rows["month"] = new_rows["Contract period"].dt.month
new_rows = new_rows.merge(contract[["Name", "day"]].drop_duplicates(), how="left", on="Name")
new_rows

        Name Contract period  0  year  month  day
0       Andy      2018-10-31  1  2018     10   17
1       Andy      2018-11-30  0  2018     11   17
2       Andy      2018-12-31  0  2018     12   17
3       Andy      2019-01-31  0  2019      1   17
4       Andy      2019-02-28  0  2019      2   17
5       Andy      2019-03-31  0  2019      3   17
6       Andy      2019-04-30  0  2019      4   17
7       Andy      2019-05-31  0  2019      5   17
8       Andy      2019-06-30  0  2019      6   17
9       Andy      2019-07-31  0  2019      7   17
10      Andy      2019-08-31  0  2019      8   17
11      Andy      2019-09-30  0  2019      9   17
12      Carl      2018-12-31  1  2018     12   13
13      Carl      2019-01-31  0  2019      1   13
14      Carl      2019-02-28  0  2019      2   13
15      Carl      2019-03-31  0  2019      3   13
16      Carl      2019-04-30  0  2019      4   13
17      Carl      2019-05-31  0  2019      5   13
18      Carl      2019-06-30  0  2019      6   13
19      Carl      2019-07-31  0  2019      7   13
20      Carl      2019-08-31  0  2019      8   13
21      Carl      2019-09-30  0  2019      9   13
22      Carl      2019-10-31  0  2019     10   13
23      Carl      2019-11-30  0  2019     11   13
24      Carl      2019-12-31  0  2019     12   13
25      Carl      2020-01-31  0  2020      1   13
26      Carl      2020-02-29  0  2020      2   13
27      Carl      2020-03-31  0  2020      3   13
28      Carl      2020-04-30  0  2020      4   13
29      Carl      2020-05-31  0  2020      5   13
30      Carl      2020-06-30  0  2020      6   13
31      Carl      2020-07-31  0  2020      7   13
32      Carl      2020-08-31  0  2020      8   13
33      Carl      2020-09-30  0  2020      9   13
34      Carl      2020-10-31  0  2020     10   13
35      Carl      2020-11-30  0  2020     11   13
36  Jonathan      2019-02-28  1  2019      2   22
37  Jonathan      2019-03-31  0  2019      3   22
38  Jonathan      2019-04-30  0  2019      4   22
39  Jonathan      2019-05-31  0  2019      5   22
40  Jonathan      2019-06-30  0  2019      6   22
41  Jonathan      2019-07-31  0  2019      7   22
42    Sophie      2018-11-30  1  2018     11   19
43    Sophie      2018-12-31  0  2018     12   19
44    Sophie      2019-01-31  0  2019      1   19
45    Sophie      2019-02-28  0  2019      2   19
46    Sophie      2019-03-31  0  2019      3   19
47    Sophie      2019-04-30  0  2019      4   19
48    Sophie      2019-05-31  0  2019      5   19
49    Sophie      2019-06-30  0  2019      6   19
50    Sophie      2019-07-31  0  2019      7   19
51    Sophie      2019-08-31  0  2019      8   19
52    Sophie      2019-09-30  0  2019      9   19
53    Sophie      2019-10-31  0  2019     10   19

In [223]:
new_rows[["year", "month", "day"]] = new_rows[["year", "month", "day"]].astype(str)
new_rows["Contract period"] = new_rows["day"] + "/" + new_rows["month"] + "/" + new_rows["year"]

In [224]:
new_rows["Contract period"] = new_rows["Contract period"].map(lambda x: pd.to_datetime(x))
new_rows = new_rows.drop([0, "year", "month", "day"], axis=1)

### Calculate the monthly cumulative cost of each person's contract

In [225]:
cost_info = contract[["Name", "Monthly Cost"]].drop_duplicates()
new_rows = new_rows.merge(cost_info, how="left", on="Name")
new_rows.head()

   Name Contract period  Monthly Cost
0  Andy      2018-10-17            45
1  Andy      2018-11-17            45
2  Andy      2018-12-17            45
3  Andy      2019-01-17            45
4  Andy      2019-02-17            45

In [231]:
cumulative_cost = new_rows.groupby(["Name"])["Monthly Cost"].cumsum().apply(pd.Series)
new_rows["Cumulative Monthly Cost"] = cumulative_cost
new_rows = new_rows.rename(columns={"Contract period": "Payment Date"})
new_rows

        Name Payment Date  Monthly Cost  Cumulative Monthly Cost
0       Andy   2018-10-17            45                       45
1       Andy   2018-11-17            45                       90
2       Andy   2018-12-17            45                      135
3       Andy   2019-01-17            45                      180
4       Andy   2019-02-17            45                      225
5       Andy   2019-03-17            45                      270
6       Andy   2019-04-17            45                      315
7       Andy   2019-05-17            45                      360
8       Andy   2019-06-17            45                      405
9       Andy   2019-07-17            45                      450
10      Andy   2019-08-17            45                      495
11      Andy   2019-09-17            45                      540
12      Carl   2018-12-13            20                       20
13      Carl   2019-01-13            20                       40
14      Carl   2019-02-13            20                       60
15      Carl   2019-03-13            20                       80
16      Carl   2019-04-13            20                      100
17      Carl   2019-05-13            20                      120
18      Carl   2019-06-13            20                      140
19      Carl   2019-07-13            20                      160
20      Carl   2019-08-13            20                      180
21      Carl   2019-09-13            20                      200
22      Carl   2019-10-13            20                      220
23      Carl   2019-11-13            20                      240
24      Carl   2019-12-13            20                      260
25      Carl   2020-01-13            20                      280
26      Carl   2020-02-13            20                      300
27      Carl   2020-03-13            20                      320
28      Carl   2020-04-13            20                      340
29      Carl   2020-05-13            20                      360
30      Carl   2020-06-13            20                      380
31      Carl   2020-07-13            20                      400
32      Carl   2020-08-13            20                      420
33      Carl   2020-09-13            20                      440
34      Carl   2020-10-13            20                      460
35      Carl   2020-11-13            20                      480
36  Jonathan   2019-02-22            15                       15
37  Jonathan   2019-03-22            15                       30
38  Jonathan   2019-04-22            15                       45
39  Jonathan   2019-05-22            15                       60
40  Jonathan   2019-06-22            15                       75
41  Jonathan   2019-07-22            15                       90
42    Sophie   2018-11-19            30                       30
43    Sophie   2018-12-19            30                       60
44    Sophie   2019-01-19            30                       90
45    Sophie   2019-02-19            30                      120
46    Sophie   2019-03-19            30                      150
47    Sophie   2019-04-19            30                      180
48    Sophie   2019-05-19            30                      210
49    Sophie   2019-06-19            30                      240
50    Sophie   2019-07-19            30                      270
51    Sophie   2019-08-19            30                      300
52    Sophie   2019-09-19            30                      330
53    Sophie   2019-10-19            30                      360

### Output the Data

In [232]:
new_rows.to_csv("./output/Week37_output.csv")