## 2021: Week 14 - Prep Air In-Flight Purchases

We are revisiting our Prep Air Airline this week by looking at some flight details and trying to provide some data driven answers. As part of running an airline we are always interested in how successful the in-flight service is and if we can make any improvements to try to boost sales. 

For this week's challenge we have been provided with a selection of different data sources and we want to combine them to answer some questions that will help us to understand some purchasing patterns on the flights. 

### Input

- Passenger List

    A list of all the passengers from a selection of flights. This includes their name, a passenger number, the flight number and the total they purchased whilst on the flight. Note, not all flights are full and can hold a maximum of 120 passengers.


- Seat List

    A mapping of where each passenger sits within each flight. This is the same for all flights across our fleet and includes the row number and seat letter within each row.


- Flight Details

    These are details about the flight number, departure and arrival times.


- Plane Details

    This documents where the business class section is on each of the planes. We provide free in-flight purchases for Business Class passengers.

### Requirement
- Input the Data
- Assign a label for where each seat is located. 
- They are assigned as follows:
    - A & F - Window Seats
    - B & E - Middle Seats
    - C & D - Aisle Seats 
- Combine the Seat List and Passenger List tables. 

- Parse the Flight Details so that they are in separate fields 

- Calculate the time of day for each flight.
- They are assigned as follows: 
    - Morning - Before 12:00 
    - Afternoon - Between 12:00 - 18:00
    - Evening - After 18:00

- Join the Flight Details & Plane Details to the Passenger & Seat tables. We should be able to identify what rows are Business or Economy Class for each flight. 

- Answer the following questions: 
    1. What time of day were the most purchases made? We want to take a look at the average for the flights within each time period. 
    2. What seat position had the highest purchase amount? Is the aisle seat the highest earner because it's closest to the trolley?
    3. As Business Class purchases are free, how much is this costing us? 

- Bonus: If you have Tableau Prep 2021.1 or later, you can now output to Excel files. Can you combine all of the outputs into a single Excel workbook, with a different sheet for each output?

### Output

1. What time of day were the most purchases made? (Avg per flight)
2. What seat position had the highest purchase amount?
3. Business class purchases are free. How much is this costing us?

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Input the data

In [2]:
data = pd.read_excel("./data/Week 14 - Input.xlsx", sheet_name=["Passenger List", "SeatList",
                                                                "FlightDetails", "PlaneDetails"])

In [4]:
passenger_list = data["Passenger List"].copy()
seat_list = data["SeatList"].copy()
flight_details = data["FlightDetails"].copy()
plane_details = data["PlaneDetails"].copy()

In [10]:
passenger_list = passenger_list.dropna(axis=1)
passenger_list

    first_name  last_name  passenger_number  flight_number  purchase_amount
0     Jerrylee       Rein                 1              1            48.29
1     Forester   Iashvili                 2              1             0.00
2        Shaun   Sherwill                 3              1             0.00
3       Werner     Basile                 4              1            58.21
4      Kerwinn    Skillen                 5              1            41.96
..         ...        ...               ...            ...              ...
995       Skye  McLaverty               106             10            10.46
996    Margaux     Rymour               107             10             0.00
997      Corny    Vaszoly               108             10            44.60
998   Vittorio  Rushbrook               109             10             0.00
999     Murial       Nani               110             10            17.70

[1000 rows x 5 columns]

In [15]:
passenger_list["passenger_number"].value_counts()

1      10
50     10
57     10
56     10
55     10
       ..
115     1
114     1
113     1
112     1
120     1
Name: passenger_number, Length: 120, dtype: int64

In [11]:
# Assign a label for where each seat is located

In [27]:
a = seat_list["A"]
f = seat_list["F"]
window_seat = pd.concat([a, f], axis=0).to_frame(name="Window Seats").reset_index(drop=True)

b = seat_list["B"]
e = seat_list["E"]
middle_seat = pd.concat([b, e], axis=0).to_frame(name="Middle Seats").reset_index(drop=True)

c = seat_list["C"]
d = seat_list["D"]
aisle_seat = pd.concat([c, d], axis=0).to_frame(name="Aisle Seats").reset_index(drop=True)

In [39]:
seat_list = pd.concat([window_seat, middle_seat, aisle_seat], axis=1)
seat_list.columns

Index(['Window Seats', 'Middle Seats', 'Aisle Seats'], dtype='object')

In [43]:
# Combine the Seat List and Passenger List tables
passenger_list.loc[passenger_list["passenger_number"].isin(seat_list["Window Seats"]), "Seat Position"] = "Window"
passenger_list.loc[passenger_list["passenger_number"].isin(seat_list["Middle Seats"]), "Seat Position"] = "Middle"
passenger_list.loc[passenger_list["passenger_number"].isin(seat_list["Aisle Seats"]), "Seat Position"] = "Aisle"
passenger_list.sample(10)

C:\Users\HYUNJUN\anaconda3\envs\deep-learning-gpu\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,first_name,last_name,passenger_number,flight_number,purchase_amount,Seat Position
823,Randy,Salla,26,9,52.57,Middle
893,Jaymie,Orhtmann,4,10,36.98,Aisle
416,Anjanette,Rumbelow,23,5,0.00,Middle
311,Randene,Negro,28,4,36.40,Aisle
332,Thayne,England,49,4,0.00,Window
200,Hasty,Chislett,103,2,0.00,Window
1,Forester,Iashvili,2,1,0.00,Middle
540,Luelle,Hyland,71,6,0.00,Middle
674,Floyd,Knipe,85,7,7.45,Window
871,Annadiana,Lettley,74,9,0.00,Middle

In [38]:
# Parse the Flight Details so that they are in separate fields

KeyError: 'Window Seats'