## 2021: Week 35 - Picture Perfect

Data preppin' ideas really are all around! I was hanging some pictures the other week and I had some weird and wonderful sizes, so working out the perfect frames was a bit tiresome. If only I could use a data preppin' tool to speed up the process... 

### Input
We have 2 inputs this week:

1. Picture sizes 
![img](https://lh3.googleusercontent.com/-G8_8TINw7TY/YS591OZq5aI/AAAAAAAAA6o/n2-yPvhv2jUs30JKS4f2IZZ0NgHUmiarACLcBGAsYHQ/image.png)

2. Frame sizes
![img](https://lh3.googleusercontent.com/-AvDNsXSd9Bk/YS9tMox-bbI/AAAAAAAAA7I/9AE5n6GB91QV5xJuafIV6-NBdq67hymegCLcBGAsYHQ/image.png)

### Requirement
- Input the data
- Split up the sizes of the pictures and the frames into lengths and widths
    - Remember an inch is 2.54cm
- Frames can always be rotated, so make sure you know which is the min/max side
- See which pictures fit into which frames
- Work out the area of the frame vs the area of the picture and choose the frame with the smallest excess
- Output the data

### Output
![img](https://lh3.googleusercontent.com/-ccVraoOGt-I/YS6L0ikCBLI/AAAAAAAAA64/6NunkLPc7ywjecilgrlCmf_TFhzREMtWgCLcBGAsYHQ/image.png)

- 4 fields
    - Picture
    - Frame
    - Max Side
    - Min Side
- 14 rows (15 including headers)

In [73]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Input the data

In [74]:
data = pd.read_excel("./data/Pictures Input.xlsx", sheet_name=[0, 1])

In [75]:
pictures = data[0].copy()
frames = data[1].copy()

### Split up the sizes of the pictures and the frames into lengths and widths
- Remember an inch is 2.54cm

In [76]:
pictures

   Picture          Size
0        A   26cm x 23cm
1        B   30cm x 26cm
2        C         24cm2
3        D   25cm x 23cm
4        E   22cm x 19cm
5        F   28cm x 20cm
6        G   33cm x 23cm
7        H   23cm x 21cm
8        I   36cm x 25cm
9        J   26cm x 20cm
10       K  26cm x 28cm
11       L   23cm x 32cm
12       M   25cm x 23cm
13       N   33cm x 24cm

In [77]:
leng_wid = pictures["Size"].str.split("x").apply(pd.Series).fillna("24cm").rename(columns={0:"lengths", 1:"widths"})
leng_wid["lengths"] = leng_wid["lengths"].map(lambda x: x.split("c")[0])
leng_wid["widths"] = leng_wid["widths"].map(lambda x: x.split("c")[0])

In [78]:
pictures = pd.concat([pictures, leng_wid], axis=1)
pictures

   Picture          Size lengths widths
0        A   26cm x 23cm      26     23
1        B   30cm x 26cm      30     26
2        C         24cm2      24     24
3        D   25cm x 23cm      25     23
4        E   22cm x 19cm      22     19
5        F   28cm x 20cm      28     20
6        G   33cm x 23cm      33     23
7        H   23cm x 21cm      23     21
8        I   36cm x 25cm      36     25
9        J   26cm x 20cm      26     20
10       K  26cm x 28cm       26     28
11       L   23cm x 32cm      23     32
12       M   25cm x 23cm      25     23
13       N   33cm x 24cm      33     24

In [79]:
leng_wid = frames["Size"].str.split("x").apply(pd.Series).fillna(method="ffill", axis=1).rename(columns={0: "lengths", 1:"widths"})
inches = leng_wid.iloc[:3]
inches["lengths"] = inches["lengths"].map(lambda x: x.replace("\"", ""))
inches["widths"] = inches["widths"].map(lambda x: x.replace("\"", ""))
inches = inches.astype(int) * 2.54

C:\Users\HYUNJUN\anaconda3\envs\deep-learning-gpu\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\HYUNJUN\anaconda3\envs\deep-learning-gpu\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [84]:
leng_wid["lengths"] = leng_wid["lengths"].map(lambda x: x.split("c")[0])
leng_wid["widths"] = leng_wid["widths"].map(lambda x: x.split("c")[0])

In [87]:
leng_wid.iloc[:3] = inches.astype(int)

In [89]:
leng_wid = leng_wid.astype(int)

In [92]:
frames = pd.concat([frames, leng_wid], axis=1)
frames

          Size  lengths  widths
0     8" x 10"       20      25
1      6" x 4"       15      10
2      8" x 6"       20      15
3  30cm x 21cm       30      21
4  31cm x 25cm       31      25
5        30cm2       30      30
6        25cm2       25      25
7  20cm x 25cm       20      25
8  28cm x 36cm       28      36

In [93]:
pictures

   Picture          Size lengths widths
0        A   26cm x 23cm      26     23
1        B   30cm x 26cm      30     26
2        C         24cm2      24     24
3        D   25cm x 23cm      25     23
4        E   22cm x 19cm      22     19
5        F   28cm x 20cm      28     20
6        G   33cm x 23cm      33     23
7        H   23cm x 21cm      23     21
8        I   36cm x 25cm      36     25
9        J   26cm x 20cm      26     20
10       K  26cm x 28cm       26     28
11       L   23cm x 32cm      23     32
12       M   25cm x 23cm      25     23
13       N   33cm x 24cm      33     24