## 2021: Week 27 NBA Draft Lottery calculator

Every now and then at Preppin' HQ when we are not busy running Chin & Beard Suds Co or Prep Air, talking about Jenny's obsession with Pokemon, we cook up a fiendish challenge. Occasionally those challenges make it into the weekly challenge. This is one of those times. Good luck!

### Challenge
We want you to calculate the results of the NBA draft lottery for 2021 (yes the lottery actually happened on 22nd June but I only thought of the challenge on that day and Jenny had some Pokemon challenges already booked in). The flow should be able to re-run to recalculate the results as if the lottery is done again with each run. 

The lottery gives teams the chance to land the best picks in the NBA draft. The NBA draft is where teams take it in turns to allocate the best young international and college players. 

The lottery odds are based on where you finish the season. The team with the worst record of wins and loses gets the best chance to earn the first pick. Once that team is selected, they are no longer in the lottery for other picks. 

Only the first 4 draft picks are chosen in the lottery. After the first four selections are made, the remaining teams are allocated their draft picks based on what position they finished in the league (in worst to best order). 

### Input
One file that contains three data sets.

The lottery odds are one of the inputs for the challenge this week but I'll let you format them how you want to with your Prep tool. The values in the table are for each team to land each spot. 

For example, for the 1st pick (column 1), each of the first 3 seeds have an even 14% chance on winning the first pick. The 14th team only has a 0.5% chance of winning the first pick. 

For the 2nd pick (column 2), the 13 teams who haven't won the 1st pick are then eligible to win the 2nd pick. The column has the relevant % chance of winning the pick. 

By the 5th pick, if the 1st seed hasn't successfully gained any of the previous picks, they would receive the 5th pick so for this challenge you don't need to worry about the odds below the 4th pick. 

![img](https://1.bp.blogspot.com/-o2cnmk6lErU/YOMwKHS9tdI/AAAAAAAACN4/gBbujcBC0KY7ZXmJXR5wwyWJUBHjzXlfQCLcBGAsYHQ/w640-h396/Screenshot%2B2021-07-05%2Bat%2B17.15.22.png)

I've also added an additional two inputs to help formulate your answer:
A scaffold that runs from 1 to 1000

![img](https://1.bp.blogspot.com/-_9n-R-0QHkY/YOMwb4-pCeI/AAAAAAAACOA/tD6V3AUjYxsulqhXkTvBCEZD-WWT9EvxwCLcBGAsYHQ/s320/Screenshot%2B2021-07-05%2Bat%2B17.16.19.png)

A list of the seeds 1 to 14. Houston has the best odds of landing the best draft pick, Golden State the worst. 

![img](https://1.bp.blogspot.com/--BM405FoNd8/YOMwv5-oHGI/AAAAAAAACOI/o4nFLKDWSAUe0v3YP2MNmnsEXc8GrznvgCLcBGAsYHQ/s320/Screenshot%2B2021-07-05%2Bat%2B17.17.16.png)

### Requirement
This is a challenge where I'm intrigued to see what you create as much as whether you can meet the challenge. 

The overall objective is to:
1. Create a workflow that will allocate the draft picks in a random manner based on the odds for each team
    1. The random function in Tableau Prep is random() 
    
    
2. The workflow should allocate each of the first 4 picks based on the lottery odds and then allocate all teams that didn't receive a slot to the remaining places in order

### Output
Your results are likely to differ as your lottery calculator should produce a different order for the first 4 picks than mine. 

In my draft lottery, Oklahoma won the draft with my beloved San Antonio staying where they are:

![img](https://1.bp.blogspot.com/-rqkdeLHhkSE/YOb_kwh1kGI/AAAAAAAACOY/LxiERm3GKi84BY1sp1PGedCrf5N-KGTuwCLcBGAsYHQ/s320/Screenshot%2B2021-07-08%2Bat%2B14.37.00.png)

Share your draft results to see who's fans you would have made very happy!

You should have 3 data fields:
- Actual Pick
- Original 
- Team

14 rows of data (15 including headers)

In [133]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [134]:
data = pd.read_excel("./data/PD 2021 Wk 27 Input.xlsx", sheet_name=["Seeding", "Scaffold", "Teams"])
seeding = data["Seeding"].copy()
teams = data["Teams"].copy()

In [135]:
seeding

,Seed,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,12.0,13.0,14.0
0,1.0,14.0,13.4,12.7,12.0,47.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,14.0,13.4,12.7,12.0,27.8,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,14.0,13.4,12.7,12.0,14.8,26.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,12.5,12.2,11.9,11.5,7.2,25.7,16.7,2.2,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,10.5,10.5,10.6,10.5,2.2,19.6,26.7,8.7,0.6,NaN,NaN,NaN,NaN,NaN
5,6.0,9.0,9.2,9.4,9.6,NaN,8.6,29.8,20.5,3.7,0.1,NaN,NaN,NaN,NaN
6,7.0,7.5,7.8,8.1,8.5,NaN,NaN,19.7,34.1,12.9,1.3,>0.0,NaN,NaN,NaN
7,8.0,6.0,6.3,6.7,7.2,NaN,NaN,NaN,34.5,32.1,6.7,0.4,>0.0,NaN,NaN
8,9.0,4.5,4.8,5.2,5.7,NaN,NaN,NaN,NaN,50.7,25.9,3.0,0.1,>0.0,NaN
9,10.0,3.0,3.3,3.6,4.0,NaN,NaN,NaN,NaN,NaN,65.9,19.0,1.2,>0.0,>0.0
10,11.0,2.0,2.2,2.4,2.8,NaN,NaN,NaN,NaN,NaN,NaN,77.6,12.6,0.4,>0.0
11,12.0,1.5,1.7,1.9,2.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.1,6.7,0.1
12,13.0,1.0,1.1,1.2,1.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,92.9,2.3
13,14.0,0.5,0.6,0.6,0.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.6

In [136]:
teams

    Seed           Team
0    1.0        Houston
1    2.0        Detroit
2    3.0        Orlando
3    4.0  Oklahoma City
4    5.0      Cleveland
5    6.0      Minnesota
6    7.0        Toronto
7    8.0        Chicago
8    9.0     Sacramento
9   10.0    New Orleans
10  11.0      Charlotte
11  12.0    San Antonio
12  13.0        Indiana
13  14.0   Golden State

In [137]:
seeding = seeding.merge(teams, how="left", on="Seed")
seeding

,Seed,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,12.0,13.0,14.0,Team
0,1.0,14.0,13.4,12.7,12.0,47.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Houston
1,2.0,14.0,13.4,12.7,12.0,27.8,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Detroit
2,3.0,14.0,13.4,12.7,12.0,14.8,26.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Orlando
3,4.0,12.5,12.2,11.9,11.5,7.2,25.7,16.7,2.2,NaN,NaN,NaN,NaN,NaN,NaN,Oklahoma City
4,5.0,10.5,10.5,10.6,10.5,2.2,19.6,26.7,8.7,0.6,NaN,NaN,NaN,NaN,NaN,Cleveland
5,6.0,9.0,9.2,9.4,9.6,NaN,8.6,29.8,20.5,3.7,0.1,NaN,NaN,NaN,NaN,Minnesota
6,7.0,7.5,7.8,8.1,8.5,NaN,NaN,19.7,34.1,12.9,1.3,>0.0,NaN,NaN,NaN,Toronto
7,8.0,6.0,6.3,6.7,7.2,NaN,NaN,NaN,34.5,32.1,6.7,0.4,>0.0,NaN,NaN,Chicago
8,9.0,4.5,4.8,5.2,5.7,NaN,NaN,NaN,NaN,50.7,25.9,3.0,0.1,>0.0,NaN,Sacramento
9,10.0,3.0,3.3,3.6,4.0,NaN,NaN,NaN,NaN,NaN,65.9,19.0,1.2,>0.0,>0.0,New Orleans
10,11.0,2.0,2.2,2.4,2.8,NaN,NaN,NaN,NaN,NaN,NaN,77.6,12.6,0.4,>0.0,Charlotte
11,12.0,1.5,1.7,1.9,2.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.1,6.7,0.1,San Antonio
12,13.0,1.0,1.1,1.2,1.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,92.9,2.3,Indiana
13,14.0,0.5,0.6,0.6,0.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.6,Golden State

In [138]:
seeding["Team"].sample(n=1, weights=seeding[1.0])

1    Detroit
Name: Team, dtype: object

In [139]:
results = []
teams = seeding["Team"]

for i in range(1, 5):
    pick = teams.sample(n=1, weights=seeding[float(i)])
    results.append(pick)
    teams = teams.drop(pick.index, axis=0)

In [140]:
series_ = pd.Series()
for i in results:
    series_ = pd.concat([series_, i])

C:\Users\HYUNJUN\anaconda3\envs\deep-learning-gpu\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

In [141]:
if 0 not in(series_.index):
    series_.append(pd.Series("Houston"))
    teams = teams.drop(0, axis=0)
    teams = teams.sort_index(ascending=False)
    series_ = pd.concat([series_, teams])
    
else:
    teams = teams.sort_index(ascending=False)
    series_ = pd.concat([series_, teams])

In [142]:
series_ = series_.reset_index().rename(columns={"index": "Original", 0: "Team"})
series_ = series_.set_index(np.arange(1, 15))
series_

    Original           Team
1         10      Charlotte
2          3  Oklahoma City
3          0        Houston
4          4      Cleveland
5         13   Golden State
6         12        Indiana
7         11    San Antonio
8          9    New Orleans
9          8     Sacramento
10         7        Chicago
11         6        Toronto
12         5      Minnesota
13         2        Orlando
14         1        Detroit

In [143]:
series_.to_csv("./output/Week27_output.csv")