## 2021: Week 10 - Pokémon Hierarchies

I can hear the hesitancy already surrounding this challenge. "I know nothing about Pokémon, how can I participate?" Well, rest assured, you don't need to understand the data in order to work with it and complete this challenge. In fact, I believe this challenge could help with most hierarchical data. 

The aim of this challenge is to group Pokémon into Evolution Groups. Why? So that when we select any Pokémon, we can see all the information about what they evolved from, what they will evolve to etc. In the example below, Bulbasaur evolves into Ivysaur, who then evolves into Venusaur. Choose another Pokémon like Flareon and we can see it evolves from Eevee, who has multiple evolution possibilities.

How is this applicable to other hierarchical data? Well imagine that a Pokémon that has a null in the Evolves From field is similar to an employee at Work Level 1 in an organisation. Their manager would then sit in the Evolves To field. Our Evolution Group in this instance would be the Team the employee belongs to and it would give us the ability to type in any employee name and return information about which team they belong to and the structure of that team.

Sure, I could have chosen to design this challenge to be working with employees, but I believe it's useful to work with data outside of your comfort zone every now and then to prove to yourself that your prep skills are applicable no matter what the dataset. Plus it's just more fun to work with Pokémon!

### Input
We have 2 inputs this week:
1. Pokemon
![img](https://1.bp.blogspot.com/-6yOamFdTm1o/YCVAm0FbdtI/AAAAAAAAAvY/zQNLQy8hjAAiGj0Od3q1d1b27Mxnkml8ACLcBGAsYHQ/w400-h188/2021W10%2BInput1.png)

2. Evolution
![img2](https://1.bp.blogspot.com/-G9styqz2ZcI/YCVAaVD6E9I/AAAAAAAAAvU/O7pXXAZJsnQ3uXp2sgkSsUW8py1p6GieACLcBGAsYHQ/s320/2021W10%2BInput2.png)

### Requirment

- Input the data
- Our Pokémon dataset actually contains too many Pokémon: 
    - We're only interested in Pokémon up to Generation III, which is up to (and including) number 386
    - This means we're also not interested in mega evolutions so we can filter Pokémon whose name start with "Mega"
- Some Pokémon have more than one Type. We aren't interested in Types for this challenge so remove this field and ensure we have one row per Pokémon 
- Now we want to bring in information about what our Pokémon evolve to 
    - Warning!  In our Evolution dataset, we still have Pokémon beyond Gen III. You'll need to filter these out too, from both the evolved from and evolved to fields 
- Bring in information about what a Pokémon evolves from 
    - Ensure that we have all 386 of our Pokémon, with nulls if they don't have a pre-evolved form or if they don't evolve
- Finally, for Pokémon that have 3 evolutions, we want to know what the First Evolution is in their Evolution Group
- Some duplication may have occurred with all our joins, ensure no 2 rows are exactly the same
- Create a calculation for our Evolution Group
    - The Evolution Group will be named after the First Evolution e.g. in the above example, Bulbasaur is the name of the Evolution Group
- Output the data

### Output
![img3](https://1.bp.blogspot.com/-GXFwV1UpiX4/YCVijXraHSI/AAAAAAAAAvs/b9oxjFsWaucSvhHncE64YWynxWiBIe9tACLcBGAsYHQ/w640-h158/2021W%25600%2BOujt.png)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Input the data

In [2]:
data = pd.read_excel("./data/Pokemon Input.xlsx", sheet_name=["Pokemon", "Evolution"], dtype="object")

In [3]:
pokemon = data["Pokemon"].copy()
evolution = data["Evolution"].copy()

### Our Pokémon dataset actually contains too many Pokémon:
 - We're only interested in Pokémon up to Generation III, which is up to (and including) number 386
 - This means we're also not interested in mega evolutions so we can filter Pokémon whose name start with "Mega

In [4]:
pokemon = pokemon.rename(columns={"#": "Number"})
pokemon.Number = pokemon.Number.astype(float).astype(int)
pokemon = pokemon.sort_values(by="Number")
pokemon = pokemon.loc[(pokemon["Number"] <= 386)]

mega = pokemon["Name"].map(lambda x: x.startswith("Mega"))
pokemon = pokemon.loc[~mega, :]
pokemon.shape

,Number,Name,Type,Total,HP,Attack,Defense,Special Attack,Special Defense,Speed
0,1,Bulbasaur,GRASS,318,45,49,49,65,65,45
1,1,Bulbasaur,POISON,318,45,49,49,65,65,45
2,2,Ivysaur,GRASS,405,60,62,63,80,80,60
3,2,Ivysaur,POISON,405,60,62,63,80,80,60
4,3,Venusaur,GRASS,525,80,82,83,100,100,80
...,...,...,...,...,...,...,...,...,...,...
614,385,Jirachi,STEEL,600,100,100,100,100,100,100
618,386,Deoxys- Defense Forme,PSYCHIC,600,50,70,160,70,160,90
619,386,Deoxys- Speed Forme,PSYCHIC,600,50,95,90,95,90,180
616,386,Deoxys- Normal Forme,PSYCHIC,600,50,150,50,150,50,150
617,386,Deoxys- Attack Forme,PSYCHIC,600,50,180,20,180,20,150

### Some Pokémon have more than one Type. We aren't interested in Types for this challenge so remove this field and ensure we have one row per Pokémon

In [5]:
pokemon = pokemon.drop_duplicates(subset=["Number"])
pokemon.shape

,Number,Name,Type,Total,HP,Attack,Defense,Special Attack,Special Defense,Speed
0,1,Bulbasaur,GRASS,318,45,49,49,65,65,45
2,2,Ivysaur,GRASS,405,60,62,63,80,80,60
4,3,Venusaur,GRASS,525,80,82,83,100,100,80
8,4,Charmander,FIRE,309,39,52,43,60,50,65
9,5,Charmeleon,FIRE,405,58,64,58,80,65,80
...,...,...,...,...,...,...,...,...,...,...
610,382,Kyogre,WATER,670,100,100,90,150,140,90
611,383,Groudon,GROUND,670,100,150,140,100,90,90
612,384,Rayquaza,DRAGON,680,105,150,90,150,90,95
615,385,Jirachi,PSYCHIC,600,100,100,100,100,100,100
618,386,Deoxys- Defense Forme,PSYCHIC,600,50,70,160,70,160,90

### Now we want to bring in information about what our Pokémon evolve to
- Warning!  In our Evolution dataset, we still have Pokémon beyond Gen III. 
- You'll need to filter these out too, from both the evolved from and evolved to fields

In [6]:
evolution = evolution.loc[(evolution["Evolving from"].isin(pokemon["Name"])) | 
                          (evolution["Evolving to"].isin(pokemon["Name"]))]
evolution = evolution.drop_duplicates()
evolution.head()

    Evolving from Evolving to Level     Condition Evolution Type
0       Bulbasaur     Ivysaur    16           NaN          Level
1         Ivysaur    Venusaur    32           NaN          Level
2      Charmander  Charmeleon    16           NaN          Level
3      Charmeleon   Charizard    36           NaN          Level
4        Squirtle   Wartortle    16           NaN          Level
..            ...         ...   ...           ...            ...
360       Sunkern    Sunflora   NaN     Sun Stone          Stone
361         Gloom   Bellossom   NaN     Sun Stone          Stone
363         Eevee     Jolteon   NaN  Thunderstone          Stone
364       Pikachu      Raichu   NaN  Thunderstone          Stone
365       Porygon    Porygon2   NaN      Up-Grade          Trade

[195 rows x 5 columns]

### Bring in information about what a Pokémon evolves from
- Ensure that we have all 386 of our Pokémon, with nulls if they don't have a pre-evolved form or if they don't evolve

In [7]:
pokemon = pokemon.merge(evolution, how="left", left_on="Name", right_on="Evolving from")
pokemon.shape

,Number,Name,Type,Total,HP,Attack,Defense,Special Attack,Special Defense,Speed,Evolving from,Evolving to,Level,Condition,Evolution Type
0,1,Bulbasaur,GRASS,318,45,49,49,65,65,45,Bulbasaur,Ivysaur,16,NaN,Level
1,2,Ivysaur,GRASS,405,60,62,63,80,80,60,Ivysaur,Venusaur,32,NaN,Level
2,3,Venusaur,GRASS,525,80,82,83,100,100,80,NaN,NaN,NaN,NaN,NaN
3,4,Charmander,FIRE,309,39,52,43,60,50,65,Charmander,Charmeleon,16,NaN,Level
4,5,Charmeleon,FIRE,405,58,64,58,80,65,80,Charmeleon,Charizard,36,NaN,Level
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,382,Kyogre,WATER,670,100,100,90,150,140,90,NaN,NaN,NaN,NaN,NaN
394,383,Groudon,GROUND,670,100,150,140,100,90,90,NaN,NaN,NaN,NaN,NaN
395,384,Rayquaza,DRAGON,680,105,150,90,150,90,95,NaN,NaN,NaN,NaN,NaN
396,385,Jirachi,PSYCHIC,600,100,100,100,100,100,100,NaN,NaN,NaN,NaN,NaN
397,386,Deoxys- Defense Forme,PSYCHIC,600,50,70,160,70,160,90,NaN,NaN,NaN,NaN,NaN

### Finally, for Pokémon that have 3 evolutions, we want to know what the First Evolution is in their Evolution Group
- Some duplication may have occurred with all our joins, ensure no 2 rows are exactly the same

In [15]:
pokemon = pokemon.drop_duplicates()
pokemon.shape

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395

### Create a calculation for our Evolution Group
- The Evolution Group will be named after the First Evolution e.g. in the above example, Bulbasaur is the name of the Evolution Group

In [10]:
pokemon["Evolving Group"] = pokemon["Name"]
pokemon.head()

,Number,Name,Type,Total,HP,Attack,Defense,Special Attack,Special Defense,Speed,Evolving from,Evolving to,Level,Condition,Evolution Type,Evolving Group
0,1,Bulbasaur,GRASS,318,45,49,49,65,65,45,Bulbasaur,Ivysaur,16,NaN,Level,Bulbasaur
1,2,Ivysaur,GRASS,405,60,62,63,80,80,60,Ivysaur,Venusaur,32,NaN,Level,Ivysaur
2,3,Venusaur,GRASS,525,80,82,83,100,100,80,NaN,NaN,NaN,NaN,NaN,Venusaur
3,4,Charmander,FIRE,309,39,52,43,60,50,65,Charmander,Charmeleon,16,NaN,Level,Charmander
4,5,Charmeleon,FIRE,405,58,64,58,80,65,80,Charmeleon,Charizard,36,NaN,Level,Charmeleon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,382,Kyogre,WATER,670,100,100,90,150,140,90,NaN,NaN,NaN,NaN,NaN,Kyogre
394,383,Groudon,GROUND,670,100,150,140,100,90,90,NaN,NaN,NaN,NaN,NaN,Groudon
395,384,Rayquaza,DRAGON,680,105,150,90,150,90,95,NaN,NaN,NaN,NaN,NaN,Rayquaza
396,385,Jirachi,PSYCHIC,600,100,100,100,100,100,100,NaN,NaN,NaN,NaN,NaN,Jirachi
397,386,Deoxys- Defense Forme,PSYCHIC,600,50,70,160,70,160,90,NaN,NaN,NaN,NaN,NaN,Deoxys- Defense Forme

In [16]:
# Evolving group calculation (compare 3 rows in if statement)
pokemon["Evolving Group"] = pokemon["Name"]

for i in range(len(pokemon) - 2):
    if pokemon.loc[i, "Evolving to"] == pokemon.loc[i+1, "Name"] and pokemon.loc[i+1, "Evolving to"] == pokemon.loc[i+2, "Name"] :
        pokemon.loc[[i, i+1, i+2], "Evolving Group"] = pokemon.loc[i, "Name"]
    else:
        pass

pokemon.head()

,Number,Name,Type,Total,HP,Attack,Defense,Special Attack,Special Defense,Speed,Evolving from,Evolving to,Level,Condition,Evolution Type,Evolving Group
0,1,Bulbasaur,GRASS,318,45,49,49,65,65,45,Bulbasaur,Ivysaur,16,NaN,Level,Bulbasaur
1,2,Ivysaur,GRASS,405,60,62,63,80,80,60,Ivysaur,Venusaur,32,NaN,Level,Bulbasaur
2,3,Venusaur,GRASS,525,80,82,83,100,100,80,NaN,NaN,NaN,NaN,NaN,Bulbasaur
3,4,Charmander,FIRE,309,39,52,43,60,50,65,Charmander,Charmeleon,16,NaN,Level,Charmander
4,5,Charmeleon,FIRE,405,58,64,58,80,65,80,Charmeleon,Charizard,36,NaN,Level,Charmander
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,382,Kyogre,WATER,670,100,100,90,150,140,90,NaN,NaN,NaN,NaN,NaN,Kyogre
394,383,Groudon,GROUND,670,100,150,140,100,90,90,NaN,NaN,NaN,NaN,NaN,Groudon
395,384,Rayquaza,DRAGON,680,105,150,90,150,90,95,NaN,NaN,NaN,NaN,NaN,Rayquaza
396,385,Jirachi,PSYCHIC,600,100,100,100,100,100,100,NaN,NaN,NaN,NaN,NaN,Jirachi
397,386,Deoxys- Defense Forme,PSYCHIC,600,50,70,160,70,160,90,NaN,NaN,NaN,NaN,NaN,Deoxys- Defense Forme

In [ ]:
pokemon.to_csv("./output/")

In [279]:
evolution.melt(id_vars="Evolving from", value_vars="Evolving to")

    Evolving from     variable       value
0       Bulbasaur  Evolving to     Ivysaur
1         Ivysaur  Evolving to    Venusaur
2      Charmander  Evolving to  Charmeleon
3      Charmeleon  Evolving to   Charizard
4        Squirtle  Evolving to   Wartortle
..            ...          ...         ...
190       Sunkern  Evolving to    Sunflora
191         Gloom  Evolving to   Bellossom
192         Eevee  Evolving to     Jolteon
193       Pikachu  Evolving to      Raichu
194       Porygon  Evolving to    Porygon2

[195 rows x 3 columns]

    Evolving from Evolving to Level     Condition Evolution Type
0       Bulbasaur     Ivysaur    16           NaN          Level
1         Ivysaur    Venusaur    32           NaN          Level
2      Charmander  Charmeleon    16           NaN          Level
3      Charmeleon   Charizard    36           NaN          Level
4        Squirtle   Wartortle    16           NaN          Level
..            ...         ...   ...           ...            ...
360       Sunkern    Sunflora   NaN     Sun Stone          Stone
361         Gloom   Bellossom   NaN     Sun Stone          Stone
363         Eevee     Jolteon   NaN  Thunderstone          Stone
364       Pikachu      Raichu   NaN  Thunderstone          Stone
365       Porygon    Porygon2   NaN      Up-Grade          Trade

[195 rows x 5 columns]