## 2021: Week 35 - Picture Perfect

Data preppin' ideas really are all around! I was hanging some pictures the other week and I had some weird and wonderful sizes, so working out the perfect frames was a bit tiresome. If only I could use a data preppin' tool to speed up the process... 

### Input
We have 2 inputs this week:

1. Picture sizes 
![img](https://lh3.googleusercontent.com/-G8_8TINw7TY/YS591OZq5aI/AAAAAAAAA6o/n2-yPvhv2jUs30JKS4f2IZZ0NgHUmiarACLcBGAsYHQ/image.png)

2. Frame sizes
![img](https://lh3.googleusercontent.com/-AvDNsXSd9Bk/YS9tMox-bbI/AAAAAAAAA7I/9AE5n6GB91QV5xJuafIV6-NBdq67hymegCLcBGAsYHQ/image.png)

### Requirement
- Input the data
- Split up the sizes of the pictures and the frames into lengths and widths
    - Remember an inch is 2.54cm
- Frames can always be rotated, so make sure you know which is the min/max side
- See which pictures fit into which frames
- Work out the area of the frame vs the area of the picture and choose the frame with the smallest excess
- Output the data

### Output
![img](https://lh3.googleusercontent.com/-ccVraoOGt-I/YS6L0ikCBLI/AAAAAAAAA64/6NunkLPc7ywjecilgrlCmf_TFhzREMtWgCLcBGAsYHQ/image.png)

- 4 fields
    - Picture
    - Frame
    - Max Side
    - Min Side
- 14 rows (15 including headers)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Input the data

In [2]:
data = pd.read_excel("./data/Pictures Input.xlsx", sheet_name=[0, 1])

In [4]:
pictures = data[0].copy()
frames = data[1].copy()

### Split up the sizes of the pictures and the frames into lengths and widths
- Remember an inch is 2.54cm

In [6]:
pictures

   Picture          Size
0        A   26cm x 23cm
1        B   30cm x 26cm
2        C         24cm2
3        D   25cm x 23cm
4        E   22cm x 19cm
5        F   28cm x 20cm
6        G   33cm x 23cm
7        H   23cm x 21cm
8        I   36cm x 25cm
9        J   26cm x 20cm
10       K  26cm x 28cm
11       L   23cm x 32cm
12       M   25cm x 23cm
13       N   33cm x 24cm

In [7]:
frames

          Size
0     8" x 10"
1      6" x 4"
2      8" x 6"
3  30cm x 21cm
4  31cm x 25cm
5        30cm2
6        25cm2
7  20cm x 25cm
8  28cm x 36cm