## 2021: Week 28 - It's Coming Rome

'55 years of hurt, Never stopped me dreaming!'

It was another night of pain for England fans on Sunday evening when they lost yet another penalty shootout in the European Football Championship final. This seems like it has been a common outcome for a lot of the tournaments that England have taken part in over the years, but what does the data agree? 

The challenge this week is to analyse the all of the penalty shootouts in the World Cup and European Championships (Euro's) since 1976.

### Input
Data is from Wikipedia (World Cup & Euro's) and is two sheets

### Requirements
- Input Data
- Determine what competition each penalty was taken in
- Clean any fields, correctly format the date the penalty was taken, & group the two German countries (eg, West Germany & Germany)
- Rank the countries on the following: 
    - Shootout win % (exclude teams who have never won a shootout)
    - Penalties scored %
- What is the most and least successful time to take a penalty? (What penalty number are you most likely to score or miss?)
- Output the Data

### Outputs
3 Outputs:
1. Win % Rankings (5 fields, 26 rows)
2. Scored % Rankings (5 fields, 34 rows)
3. Penalty Position Rankings (6 fields, 9 rows)

In [803]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Input Data

In [804]:
data = pd.read_excel("./data/InternationalPenalties.xlsx", sheet_name=["WorldCup", "Euros"])

In [805]:
world_cup = data["WorldCup"].copy()
euros = data["Euros"].copy()

### Determine what competition each penalty was taken in

In [806]:
world_cup.columns

Index(['No.', 'Penalty Number ', 'Event Year', 'Winner', 'Full Time Score',
       'Loser', 'Winning Team GK', 'Winning team Taker', 'Losing team Taker',
       'Losing Team GK', 'Round', 'Date'],
      dtype='object')

In [807]:
world_cup["Penalty Number "].value_counts()

1    30
2    30
3    30
4    30
5    24
6     2
Name: Penalty Number , dtype: int64

In [808]:
world_cup.head()

,No.,Penalty Number,Event Year,Winner,Full Time Score,Loser,Winning Team GK,Winning team Taker,Losing team Taker,Losing Team GK,Round,Date
0,1,1,"1982,",West Germany,3–3,France,Schumacher,Kaltz Penalty scored,Penalty scored Giresse,Ettori,Semi-finals,2021-07-08
1,1,2,"1982,",West Germany,3–3,France,Schumacher,Breitner Penalty scored,Penalty scored Amoros,Ettori,Semi-finals,2021-07-08
2,1,3,"1982,",West Germany,3–3,France,Schumacher,Stielike Penalty missed,Penalty scored Rocheteau,Ettori,Semi-finals,2021-07-08
3,1,4,"1982,",West Germany,3–3,France,Schumacher,Littbarski Penalty scored,Penalty missed Six,Ettori,Semi-finals,2021-07-08
4,1,5,"1982,",West Germany,3–3,France,Schumacher,Rummenigge Penalty scored,Penalty scored Platini,Ettori,Semi-finals,2021-07-08

In [809]:
euros.columns

Index(['No.', 'Penalty Number', 'Event Year', 'Winner', 'Full Time Score',
       'Loser', 'Winning team GK', 'Winning team Taker', 'Losing team Taker',
       'Losing team GK', 'Round', 'Date'],
      dtype='object')

In [810]:
euros["Penalty Number"].value_counts()

1    22
2    22
3    22
4    22
5    19
6     6
7     3
8     2
9     2
Name: Penalty Number, dtype: int64

In [811]:
winner_penalty = world_cup["Winning team Taker"].str.split().apply(pd.Series)

In [812]:
winner_penalty["Winner Penalty type"] = winner_penalty[2]

In [813]:
winner_penalty = winner_penalty.drop([0, 1, 2, 3, 4, 5], axis=1)
winner_penalty

    Winner Penalty type
0                scored
1                scored
2                missed
3                scored
4                scored
..                  ...
141              scored
142              missed
143              scored
144              scored
145              scored

[146 rows x 1 columns]

In [814]:
world_cup = world_cup.join(winner_penalty, how="left")
world_cup

,No.,Penalty Number,Event Year,Winner,Full Time Score,Loser,Winning Team GK,Winning team Taker,Losing team Taker,Losing Team GK,Round,Date,Winner Penalty type
0,1,1,"1982,",West Germany,3–3,France,Schumacher,Kaltz Penalty scored,Penalty scored Giresse,Ettori,Semi-finals,2021-07-08,scored
1,1,2,"1982,",West Germany,3–3,France,Schumacher,Breitner Penalty scored,Penalty scored Amoros,Ettori,Semi-finals,2021-07-08,scored
2,1,3,"1982,",West Germany,3–3,France,Schumacher,Stielike Penalty missed,Penalty scored Rocheteau,Ettori,Semi-finals,2021-07-08,missed
3,1,4,"1982,",West Germany,3–3,France,Schumacher,Littbarski Penalty scored,Penalty missed Six,Ettori,Semi-finals,2021-07-08,scored
4,1,5,"1982,",West Germany,3–3,France,Schumacher,Rummenigge Penalty scored,Penalty scored Platini,Ettori,Semi-finals,2021-07-08,scored
...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,30,1,"2018,",Croatia,2–2,Russia,Subašić,Brozović Penalty scored,Penalty missed Smolov,Akinfeev,Quarter-finals,2021-07-07,scored
142,30,2,"2018,",Croatia,2–2,Russia,Subašić,Kovačić Penalty missed,Penalty scored Dzagoev,Akinfeev,Quarter-finals,2021-07-07,missed
143,30,3,"2018,",Croatia,2–2,Russia,Subašić,Modrić Penalty scored,Penalty missed Fernandes,Akinfeev,Quarter-finals,2021-07-07,scored
144,30,4,"2018,",Croatia,2–2,Russia,Subašić,Vida Penalty scored,Penalty scored Ignashevich,Akinfeev,Quarter-finals,2021-07-07,scored
145,30,5,"2018,",Croatia,2–2,Russia,Subašić,Rakitić Penalty scored,Penalty scored Kuzyayev,Akinfeev,Quarter-finals,2021-07-07,scored

In [815]:
loser_penalty = world_cup["Losing team Taker"].str.split().apply(pd.Series)
loser_penalty["Loser Penalty type"] = loser_penalty[1]
loser_penalty = loser_penalty.drop([0, 1, 2, 3, 4], axis=1)
loser_penalty

    Loser Penalty type
0               scored
1               scored
2               scored
3               missed
4               scored
..                 ...
141             missed
142             scored
143             missed
144             scored
145             scored

[146 rows x 1 columns]

In [816]:
world_cup = world_cup.join(loser_penalty, how="left")
world_cup

,No.,Penalty Number,Event Year,Winner,Full Time Score,Loser,Winning Team GK,Winning team Taker,Losing team Taker,Losing Team GK,Round,Date,Winner Penalty type,Loser Penalty type
0,1,1,"1982,",West Germany,3–3,France,Schumacher,Kaltz Penalty scored,Penalty scored Giresse,Ettori,Semi-finals,2021-07-08,scored,scored
1,1,2,"1982,",West Germany,3–3,France,Schumacher,Breitner Penalty scored,Penalty scored Amoros,Ettori,Semi-finals,2021-07-08,scored,scored
2,1,3,"1982,",West Germany,3–3,France,Schumacher,Stielike Penalty missed,Penalty scored Rocheteau,Ettori,Semi-finals,2021-07-08,missed,scored
3,1,4,"1982,",West Germany,3–3,France,Schumacher,Littbarski Penalty scored,Penalty missed Six,Ettori,Semi-finals,2021-07-08,scored,missed
4,1,5,"1982,",West Germany,3–3,France,Schumacher,Rummenigge Penalty scored,Penalty scored Platini,Ettori,Semi-finals,2021-07-08,scored,scored
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,30,1,"2018,",Croatia,2–2,Russia,Subašić,Brozović Penalty scored,Penalty missed Smolov,Akinfeev,Quarter-finals,2021-07-07,scored,missed
142,30,2,"2018,",Croatia,2–2,Russia,Subašić,Kovačić Penalty missed,Penalty scored Dzagoev,Akinfeev,Quarter-finals,2021-07-07,missed,scored
143,30,3,"2018,",Croatia,2–2,Russia,Subašić,Modrić Penalty scored,Penalty missed Fernandes,Akinfeev,Quarter-finals,2021-07-07,scored,missed
144,30,4,"2018,",Croatia,2–2,Russia,Subašić,Vida Penalty scored,Penalty scored Ignashevich,Akinfeev,Quarter-finals,2021-07-07,scored,scored
145,30,5,"2018,",Croatia,2–2,Russia,Subašić,Rakitić Penalty scored,Penalty scored Kuzyayev,Akinfeev,Quarter-finals,2021-07-07,scored,scored

### Clean any fields, correctly format the date the penalty was taken, & group the two German countries (eg, West Germany & Germany)

In [817]:
world_cup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   No.                  146 non-null    int64
 1   Penalty Number       146 non-null    int64
 2   Event Year           146 non-null    object
 3   Winner               146 non-null    object
 4   Full Time Score      146 non-null    object
 5   Loser                146 non-null    object
 6   Winning Team GK      146 non-null    object
 7   Winning team Taker   141 non-null    object
 8   Losing team Taker    138 non-null    object
 9   Losing Team GK       146 non-null    object
 10  Round                146 non-null    object
 11  Date                 146 non-null    datetime64[ns]
 12  Winner Penalty type  141 non-null    object
 13  Loser Penalty type   138 non-null    object
dtypes: datetime64[ns](1), int64(2), object(11)
memory usage: 16.1+ KB

In [818]:
world_cup["Event Year"] = pd.to_datetime(world_cup["Event Year"].str.replace(",", ""))
world_cup["Event Year"] = world_cup["Event Year"].map(lambda x: x.year)

In [819]:
world_cup["Winner"] = world_cup["Winner"].str.strip()
world_cup["Loser"] = world_cup["Loser"].str.strip()

In [820]:
world_cup.loc[world_cup["Winner"] == "West Germany", "Winner"] = "Germany"

In [821]:
world_cup[world_cup["Winner"] == "Germany"].shape

(19, 14)

In [822]:
euros["Winner"].value_counts()

 Spain             20
 Italy             19
 Germany           15
 Czechoslovakia    14
 Portugal          12
 Czech Republic     6
 Netherlands        6
 Denmark            5
 France             5
 Poland             5
  Switzerland       5
 England            4
 Turkey             4
Name: Winner, dtype: int64

In [823]:
euros["Winner"] = euros["Winner"].str.strip()
euros["Winner"].value_counts()

Spain             20
Italy             19
Germany           15
Czechoslovakia    14
Portugal          12
Czech Republic     6
Netherlands        6
Denmark            5
France             5
Poland             5
Switzerland        5
England            4
Turkey             4
Name: Winner, dtype: int64

In [824]:
euros["Loser"] = euros["Loser"].str.strip()
euros["Loser"].value_counts()

Italy           23
England         23
Netherlands     14
France          11
Switzerland     10
Spain            9
Sweden           6
West Germany     5
Denmark          5
Portugal         5
Poland           5
Croatia          4
Name: Loser, dtype: int64

In [825]:
euros.loc[euros["Loser"] == "West Germany", "Loser"] = "Germany"

In [826]:
euros.shape

(120, 12)

In [827]:
euros.head()

,No.,Penalty Number,Event Year,Winner,Full Time Score,Loser,Winning team GK,Winning team Taker,Losing team Taker,Losing team GK,Round,Date
0,1,1,"1976,",Czechoslovakia,2–2,Germany,Viktor,Masný Penalty scored,Penalty scored Bonhof,Maier,Final,2021-06-20
1,1,2,"1976,",Czechoslovakia,2–2,Germany,Viktor,Nehoda Penalty scored,Penalty scored Flohe,Maier,Final,2021-06-20
2,1,3,"1976,",Czechoslovakia,2–2,Germany,Viktor,Ondruš Penalty scored,Penalty scored Bongartz,Maier,Final,2021-06-20
3,1,4,"1976,",Czechoslovakia,2–2,Germany,Viktor,Jurkemik Penalty scored,Penalty missed Hoeneß,Maier,Final,2021-06-20
4,1,5,"1976,",Czechoslovakia,2–2,Germany,Viktor,Panenka Penalty scored,NaN,Maier,Final,2021-06-20

### Null value replacement

In [828]:
world_cup.loc[world_cup["Winner"] == "South Korea", "Winner Penalty type"] = "scored"

In [829]:
world_cup.loc[19, "Winner Penalty type"] = "scored"

In [830]:
world_cup.loc[[45, 48, 94, 95, 107, 117], "Winner Penalty type"] = "scored"
world_cup.loc[105, "Winner Penalty type"] = "missed"

In [831]:
world_cup[world_cup["Winner Penalty type"].isna()]

,No.,Penalty Number,Event Year,Winner,Full Time Score,Loser,Winning Team GK,Winning team Taker,Losing team Taker,Losing Team GK,Round,Date,Winner Penalty type,Loser Penalty type
34,7,5,1990,Argentina,1–1,Italy,Goycochea,NaN,Penalty missed Serena,Zenga,Semi-finals,2021-07-03,NaN,missed
39,8,5,1990,Germany,1–1,England,Illgner,NaN,Penalty missed Waddle,Shilton,Semi-finals,2021-07-04,NaN,missed
54,11,5,1994,Brazil,0–0,Italy,Taffarel,NaN,Penalty missed R. Baggio,Pagliuca,Final,2021-07-17,NaN,missed
121,25,5,2014,Netherlands,0–0,Costa Rica,Krul,NaN,Penalty missed Umaña,Navas,Quarter-finals,2021-07-05,NaN,missed
130,27,5,2018,Russia,1–1,Spain,Akinfeev,NaN,Penalty missed Aspas,De Gea,Second round,2021-07-01,NaN,missed

### Rank the countries on the following: 
- Shootout win % (exclude teams who have never won a shootout)
- Penalties scored %

### Shootout win %

In [832]:
world_cup_shootout = world_cup.drop(["Winner Penalty type", "Loser Penalty type"], axis=1)
world_cup_shootout.shape

(146, 12)

In [833]:
world_cup_shootout.columns = ['No.', 'Penalty Number', 'Event Year', 'Winner', 'Full Time Score',
       'Loser', 'Winning Team GK', 'Winning team Taker', 'Losing team Taker',
       'Losing Team GK', 'Round', 'Date']
euros.columns = ['No.', 'Penalty Number', 'Event Year', 'Winner', 'Full Time Score',
       'Loser', 'Winning Team GK', 'Winning team Taker', 'Losing team Taker',
       'Losing Team GK', 'Round', 'Date']

In [834]:
world_cup_shootout

,No.,Penalty Number,Event Year,Winner,Full Time Score,Loser,Winning Team GK,Winning team Taker,Losing team Taker,Losing Team GK,Round,Date
0,1,1,1982,Germany,3–3,France,Schumacher,Kaltz Penalty scored,Penalty scored Giresse,Ettori,Semi-finals,2021-07-08
1,1,2,1982,Germany,3–3,France,Schumacher,Breitner Penalty scored,Penalty scored Amoros,Ettori,Semi-finals,2021-07-08
2,1,3,1982,Germany,3–3,France,Schumacher,Stielike Penalty missed,Penalty scored Rocheteau,Ettori,Semi-finals,2021-07-08
3,1,4,1982,Germany,3–3,France,Schumacher,Littbarski Penalty scored,Penalty missed Six,Ettori,Semi-finals,2021-07-08
4,1,5,1982,Germany,3–3,France,Schumacher,Rummenigge Penalty scored,Penalty scored Platini,Ettori,Semi-finals,2021-07-08
...,...,...,...,...,...,...,...,...,...,...,...,...
141,30,1,2018,Croatia,2–2,Russia,Subašić,Brozović Penalty scored,Penalty missed Smolov,Akinfeev,Quarter-finals,2021-07-07
142,30,2,2018,Croatia,2–2,Russia,Subašić,Kovačić Penalty missed,Penalty scored Dzagoev,Akinfeev,Quarter-finals,2021-07-07
143,30,3,2018,Croatia,2–2,Russia,Subašić,Modrić Penalty scored,Penalty missed Fernandes,Akinfeev,Quarter-finals,2021-07-07
144,30,4,2018,Croatia,2–2,Russia,Subašić,Vida Penalty scored,Penalty scored Ignashevich,Akinfeev,Quarter-finals,2021-07-07
145,30,5,2018,Croatia,2–2,Russia,Subašić,Rakitić Penalty scored,Penalty scored Kuzyayev,Akinfeev,Quarter-finals,2021-07-07

In [835]:
world_cup_shootout = world_cup_shootout.drop(["Full Time Score", "Winning Team GK", "Winning team Taker",
                "Losing team Taker", "Losing Team GK", "Round", "Date"], axis=1)
world_cup_shootout

     No.  Penalty Number  Event Year   Winner   Loser
0      1               1        1982  Germany  France
1      1               2        1982  Germany  France
2      1               3        1982  Germany  France
3      1               4        1982  Germany  France
4      1               5        1982  Germany  France
..   ...             ...         ...      ...     ...
141   30               1        2018  Croatia  Russia
142   30               2        2018  Croatia  Russia
143   30               3        2018  Croatia  Russia
144   30               4        2018  Croatia  Russia
145   30               5        2018  Croatia  Russia

[146 rows x 5 columns]

In [836]:
euros = euros.drop(["Full Time Score", "Winning Team GK", "Winning team Taker",
                "Losing team Taker", "Losing Team GK", "Round", "Date"], axis=1)
euros

     No.  Penalty Number Event Year          Winner    Loser
0      1               1      1976,  Czechoslovakia  Germany
1      1               2      1976,  Czechoslovakia  Germany
2      1               3      1976,  Czechoslovakia  Germany
3      1               4      1976,  Czechoslovakia  Germany
4      1               5      1976,  Czechoslovakia  Germany
..   ...             ...        ...             ...      ...
115   22               1      2020,           Italy  England
116   22               2      2020,           Italy  England
117   22               3      2020,           Italy  England
118   22               4      2020,           Italy  England
119   22               5      2020,           Italy  England

[120 rows x 5 columns]

In [837]:
world_cup_shootout = world_cup_shootout.drop_duplicates(subset=["Winner", "Loser", "Event Year"])
euros = euros.drop_duplicates(subset=["Winner", "Loser", "Event Year"])

In [838]:
world_cup_winner = world_cup_shootout["Winner"].value_counts()
world_cup_loser = world_cup_shootout["Loser"].value_counts()

In [839]:
euros_winner = euros["Winner"].value_counts()
euros_loser = euros["Loser"].value_counts()

In [840]:
world_cup_win_pct = pd.concat([world_cup_winner, world_cup_loser], axis=1).fillna(0)
world_cup_win_pct.columns = ["Shootouts", "lose_shootouts"]
world_cup_win_pct["Total Shootouts"] = world_cup_win_pct["Shootouts"] + world_cup_win_pct["lose_shootouts"]

In [841]:
euros_win_pct = pd.concat([euros_winner, euros_loser], axis=1).fillna(0)
euros_win_pct.columns = ["Shootouts", "lose_shootouts"]
euros_win_pct["Total Shootouts"] = euros_win_pct["Shootouts"] + euros_win_pct["lose_shootouts"]
euros_win_pct

                Shootouts  lose_shootouts  Total Shootouts
Spain                 4.0             2.0              6.0
Italy                 4.0             3.0              7.0
Czechoslovakia        2.0             0.0              2.0
Germany               2.0             1.0              3.0
Portugal              2.0             1.0              3.0
Denmark               1.0             1.0              2.0
England               1.0             4.0              5.0
France                1.0             2.0              3.0
Czech Republic        1.0             0.0              1.0
Netherlands           1.0             3.0              4.0
Turkey                1.0             0.0              1.0
Poland                1.0             1.0              2.0
Switzerland           1.0             2.0              3.0
Sweden                0.0             1.0              1.0
Croatia               0.0             1.0              1.0

In [842]:
total = pd.concat([world_cup_win_pct, euros_win_pct], axis=1).fillna(0)
total.columns = ["world_shootouts", "world_lose_shootouts", "world_total_shootouts",
                 "euros_shootouts", "euros_lose_shootouts", "euros_total_shootouts"]

In [843]:
total = total.drop(["world_lose_shootouts", "euros_lose_shootouts"], axis=1)

In [844]:
total.columns

Index(['world_shootouts', 'world_total_shootouts', 'euros_shootouts',
       'euros_total_shootouts'],
      dtype='object')

In [845]:
total["Total Shootouts"] = total["world_total_shootouts"] + total["euros_total_shootouts"]
total["Shootouts"] = total["world_shootouts"] + total["euros_shootouts"]
total = total.reset_index().rename(columns={"index": "Team"})
total = total.drop(["world_shootouts", "world_total_shootouts",
                    "euros_shootouts", "euros_total_shootouts"], axis=1)
total

                   Team  Total Shootouts  Shootouts
0               Germany              7.0        6.0
1             Argentina              5.0        4.0
2                Brazil              4.0        3.0
3               Croatia              3.0        2.0
4                France              7.0        3.0
5                 Italy             11.0        5.0
6                Russia              2.0        1.0
7           Netherlands              7.0        2.0
8            Costa Rica              2.0        1.0
9               Uruguay              1.0        1.0
10             Paraguay              1.0        1.0
11              Ukraine              1.0        1.0
12             Portugal              4.0        3.0
13          South Korea              1.0        1.0
14                Spain             10.0        5.0
15               Sweden              2.0        1.0
16             Bulgaria              1.0        1.0
17  Republic of Ireland              2.0        1.0
18              Belgium              1.0        1.0
19              England              9.0        2.0
20               Mexico              2.0        0.0
21              Romania              2.0        0.0
22                Ghana              1.0        0.0
23             Colombia              1.0        0.0
24              Denmark              3.0        1.0
25               Greece              1.0        0.0
26                Chile              1.0        0.0
27          Switzerland              4.0        1.0
28                Japan              1.0        0.0
29           Yugoslavia              1.0        0.0
30       Czechoslovakia              2.0        2.0
31       Czech Republic              1.0        1.0
32               Turkey              1.0        1.0
33               Poland              2.0        1.0

In [846]:
total["Shootout Win %"] = (total["Shootouts"] / total["Total Shootouts"] * 100).round(0)

In [847]:
total = total.sort_values(by="Shootout Win %", ascending=False)
no_shootout_idx = total[total["Shootout Win %"] == 0].index
total = total.drop(no_shootout_idx, axis=0).rename(columns={"index": "Team"})
total

                   Team  Total Shootouts  Shootouts  Shootout Win %
32               Turkey              1.0        1.0           100.0
31       Czech Republic              1.0        1.0           100.0
30       Czechoslovakia              2.0        2.0           100.0
18              Belgium              1.0        1.0           100.0
9               Uruguay              1.0        1.0           100.0
10             Paraguay              1.0        1.0           100.0
11              Ukraine              1.0        1.0           100.0
13          South Korea              1.0        1.0           100.0
16             Bulgaria              1.0        1.0           100.0
0               Germany              7.0        6.0            86.0
1             Argentina              5.0        4.0            80.0
2                Brazil              4.0        3.0            75.0
12             Portugal              4.0        3.0            75.0
3               Croatia              3.0        2.0            67.0
15               Sweden              2.0        1.0            50.0
17  Republic of Ireland              2.0        1.0            50.0
14                Spain             10.0        5.0            50.0
8            Costa Rica              2.0        1.0            50.0
6                Russia              2.0        1.0            50.0
33               Poland              2.0        1.0            50.0
5                 Italy             11.0        5.0            45.0
4                France              7.0        3.0            43.0
24              Denmark              3.0        1.0            33.0
7           Netherlands              7.0        2.0            29.0
27          Switzerland              4.0        1.0            25.0
19              England              9.0        2.0            22.0

In [855]:
total["Win % Rank"] = total["Shootout Win %"].rank(method="dense", ascending=False).astype(int)
total = total.reset_index(drop=True)
total = total.loc[:, ["Win % Rank", "Shootout Win %", "Total Shootouts", "Shootouts", "Team"]]

total["Shootout Win %"] = total["Shootout Win %"].astype(int)
total["Total Shootouts"] = total["Total Shootouts"].astype(int)
total["Shootouts"] = total["Shootouts"].astype(int)

total

,Win % Rank,Shootout Win %,Total Shootouts,Shootouts,Team
0,1,100,1,1,Turkey
1,1,100,1,1,Czech Republic
2,1,100,2,2,Czechoslovakia
3,1,100,1,1,Belgium
4,1,100,1,1,Uruguay
5,1,100,1,1,Paraguay
6,1,100,1,1,Ukraine
7,1,100,1,1,South Korea
8,1,100,1,1,Bulgaria
9,2,86,7,6,Germany
10,3,80,5,4,Argentina
11,4,75,4,3,Brazil
12,4,75,4,3,Portugal
13,5,67,3,2,Croatia
14,6,50,2,1,Sweden
15,6,50,2,1,Republic of Ireland
16,6,50,10,5,Spain
17,6,50,2,1,Costa Rica
18,6,50,2,1,Russia
19,6,50,2,1,Poland
20,7,45,11,5,Italy
21,8,43,7,3,France
22,9,33,3,1,Denmark
23,10,29,7,2,Netherlands
24,11,25,4,1,Switzerland
25,12,22,9,2,England

### Penalties scored %

In [322]:
# Penalties scored %
# world_cup["Winner Penalty type"] = world_cup["Winner Penalty type"].map({"scored": 1, "missed": 0})
# world_cup["Loser Penalty type"] = world_cup["Loser Penalty type"].map({"scored": 1, "missed": 0})

In [61]:
winner_scored = world_cup.groupby(["Winner"])["Winner Penalty type"].sum()
winner_scored

Winner
Argentina              scoredscoredmissedmissedscoredscoredscoredscor...
Belgium                                      scoredscoredscoredscoredder
Brazil                 missedscoredscoredscoredscoredscoredscoredscor...
Bulgaria                                        missedscoredscoredscored
Costa Rica                                scoredscoredscoredscoredscored
Croatia                missedscoredscoredmissedscoredscoredmissedscor...
England                                   scoredscoredmissedscoredscored
France                 scoredscoredscoredmissedscoredscoredmissedscor...
Germany                scoredscoredmissedscoredscoredscoredscoredscor...
Italy                                   scoredscoredPenaltyPenaltyscored
Netherlands                                    Penaltyscoredscoredscored
Paraguay                                  scoredscoredscoredscoredscored
Portugal                                  scoredmissedmissedscoredscored
Republic of Ireland                       scoredscoredscoredscoredscored
Russia                                          scoredscoredscoredscored
South Korea                          PenaltyPenaltyPenaltyPenaltyPenalty
Spain                                     scoredscoredmissedmissedscored
Sweden                            missedPenaltyscoredscoredPenaltyscored
Ukraine                                         missedscoredscoredscored
Uruguay                                  scoredscoredscoredPenaltyscored
Name: Winner Penalty type, dtype: object

In [22]:
loser_scored = world_cup.groupby(["Loser"])["Loser Penalty type"].sum()
loser_scored

Loser
Argentina               2.0
Brazil                  3.0
Chile                   2.0
Colombia                3.0
Costa Rica              3.0
Denmark                 2.0
England                 7.0
France                  7.0
Ghana                   2.0
Greece                  3.0
Italy                   8.0
Japan                   3.0
Mexico                  2.0
Netherlands             4.0
Republic of Ireland     2.0
Romania                 8.0
Russia                  3.0
Spain                  10.0
Switzerland             0.0
Yugoslavia              2.0
Name: Loser Penalty type, dtype: float64

In [23]:
total_scored = pd.concat([winner_scored, loser_scored], axis=1)
total_scored = total_scored.fillna(0)
total_scored["Total scored"] = total_scored["Winner Penalty type"] + total_scored["Loser Penalty type"]
total_scored

                     Winner Penalty type  Loser Penalty type  Total scored
Argentina                           15.0                 2.0          17.0
Belgium                              4.0                 0.0           4.0
Brazil                               9.0                 3.0          12.0
Bulgaria                             3.0                 0.0           3.0
Costa Rica                           5.0                 3.0           8.0
Croatia                              7.0                 0.0           7.0
England                              4.0                 7.0          11.0
France                               8.0                 7.0          15.0
Germany                             17.0                 0.0          17.0
Italy                                3.0                 8.0          11.0
Netherlands                          3.0                 4.0           7.0
Paraguay                             5.0                 0.0           5.0
Portugal                             3.0                 0.0           3.0
Republic of Ireland                  5.0                 2.0           7.0
Russia                               4.0                 3.0           7.0
South Korea                          0.0                 0.0           0.0
Spain                                3.0                10.0          13.0
Sweden                               3.0                 0.0           3.0
Ukraine                              3.0                 0.0           3.0
Uruguay                              4.0                 0.0           4.0
Chile                                0.0                 2.0           2.0
Colombia                             0.0                 3.0           3.0
Denmark                              0.0                 2.0           2.0
Ghana                                0.0                 2.0           2.0
Greece                               0.0                 3.0           3.0
Japan                                0.0                 3.0           3.0
Mexico                               0.0                 2.0           2.0
Romania                              0.0                 8.0           8.0
Switzerland                          0.0                 0.0           0.0
Yugoslavia                           0.0                 2.0           2.0

In [24]:
winner_shoot_count = world_cup.groupby(["Winner"])["Winner Penalty type"].count()
winner_shoot_count

Winner
Argentina              18
Belgium                 4
Brazil                 12
Bulgaria                4
Costa Rica              5
Croatia                10
England                 5
France                 10
Germany                18
Italy                   3
Netherlands             3
Paraguay                5
Portugal                5
Republic of Ireland     5
Russia                  4
South Korea             0
Spain                   5
Sweden                  4
Ukraine                 4
Uruguay                 4
Name: Winner Penalty type, dtype: int64

In [25]:
loser_shoot_count = world_cup.groupby(["Loser"])["Loser Penalty type"].count()
loser_shoot_count

Loser
Argentina               4
Brazil                  5
Chile                   5
Colombia                5
Costa Rica              5
Denmark                 5
England                14
France                 10
Ghana                   4
Greece                  4
Italy                  15
Japan                   4
Mexico                  7
Netherlands             8
Republic of Ireland     5
Romania                11
Russia                  5
Spain                  14
Switzerland             3
Yugoslavia              5
Name: Loser Penalty type, dtype: int64

In [26]:
total_shoot = pd.concat([winner_shoot_count, loser_shoot_count], axis=1).fillna(0)
total_shoot["Total count"] = total_shoot["Winner Penalty type"] + total_shoot["Loser Penalty type"]
total_shoot

                     Winner Penalty type  Loser Penalty type  Total count
Argentina                           18.0                 4.0         22.0
Belgium                              4.0                 0.0          4.0
Brazil                              12.0                 5.0         17.0
Bulgaria                             4.0                 0.0          4.0
Costa Rica                           5.0                 5.0         10.0
Croatia                             10.0                 0.0         10.0
England                              5.0                14.0         19.0
France                              10.0                10.0         20.0
Germany                             18.0                 0.0         18.0
Italy                                3.0                15.0         18.0
Netherlands                          3.0                 8.0         11.0
Paraguay                             5.0                 0.0          5.0
Portugal                             5.0                 0.0          5.0
Republic of Ireland                  5.0                 5.0         10.0
Russia                               4.0                 5.0          9.0
South Korea                          0.0                 0.0          0.0
Spain                                5.0                14.0         19.0
Sweden                               4.0                 0.0          4.0
Ukraine                              4.0                 0.0          4.0
Uruguay                              4.0                 0.0          4.0
Chile                                0.0                 5.0          5.0
Colombia                             0.0                 5.0          5.0
Denmark                              0.0                 5.0          5.0
Ghana                                0.0                 4.0          4.0
Greece                               0.0                 4.0          4.0
Japan                                0.0                 4.0          4.0
Mexico                               0.0                 7.0          7.0
Romania                              0.0                11.0         11.0
Switzerland                          0.0                 3.0          3.0
Yugoslavia                           0.0                 5.0          5.0

In [27]:
total = pd.concat([total_scored["Total scored"], total_shoot["Total count"]], axis=1)
total["Total missed"] = total["Total count"] - total["Total scored"]
total

                     Total scored  Total count  Total missed
Argentina                    17.0         22.0           5.0
Belgium                       4.0          4.0           0.0
Brazil                       12.0         17.0           5.0
Bulgaria                      3.0          4.0           1.0
Costa Rica                    8.0         10.0           2.0
Croatia                       7.0         10.0           3.0
England                      11.0         19.0           8.0
France                       15.0         20.0           5.0
Germany                      17.0         18.0           1.0
Italy                        11.0         18.0           7.0
Netherlands                   7.0         11.0           4.0
Paraguay                      5.0          5.0           0.0
Portugal                      3.0          5.0           2.0
Republic of Ireland           7.0         10.0           3.0
Russia                        7.0          9.0           2.0
South Korea                   0.0          0.0           0.0
Spain                        13.0         19.0           6.0
Sweden                        3.0          4.0           1.0
Ukraine                       3.0          4.0           1.0
Uruguay                       4.0          4.0           0.0
Chile                         2.0          5.0           3.0
Colombia                      3.0          5.0           2.0
Denmark                       2.0          5.0           3.0
Ghana                         2.0          4.0           2.0
Greece                        3.0          4.0           1.0
Japan                         3.0          4.0           1.0
Mexico                        2.0          7.0           5.0
Romania                       8.0         11.0           3.0
Switzerland                   0.0          3.0           3.0
Yugoslavia                    2.0          5.0           3.0

In [28]:
total["Total scored"] / total["Total count"]

Argentina              0.772727
Belgium                1.000000
Brazil                 0.705882
Bulgaria               0.750000
Costa Rica             0.800000
Croatia                0.700000
England                0.578947
France                 0.750000
Germany                0.944444
Italy                  0.611111
Netherlands            0.636364
Paraguay               1.000000
Portugal               0.600000
Republic of Ireland    0.700000
Russia                 0.777778
South Korea                 NaN
Spain                  0.684211
Sweden                 0.750000
Ukraine                0.750000
Uruguay                1.000000
Chile                  0.400000
Colombia               0.600000
Denmark                0.400000
Ghana                  0.500000
Greece                 0.750000
Japan                  0.750000
Mexico                 0.285714
Romania                0.727273
Switzerland            0.000000
Yugoslavia             0.400000
dtype: float64