## 2021: Week 21 Getting Trolleyed

Our final challenge for calculations month is all about the Analytical Calculations in Tableau Prep, Level of Detail calculations and Rankings. These calculations let you answer the questions your stakeholders have before you've even visualised anything. Sometimes all we need is the answer. If you're not using Prep for this challenge, I have hopefully made a challenge you can replicate too (you might just need to use a join). 

### Challenge
With the Prep Air - New Trolley Inventory project finally delivered at the end of May, we want to analyse what are the products that we are now selling for a much higher amount than we did before the project. We want to analyse the top three products based on price rise per destination.

### Input
One spreadsheet with 10 sheets, one sheet per month (Jan is month 1, Feb is month 2 etc)

![img](https://1.bp.blogspot.com/-KkflvnUjLZU/YKvdxeHrXVI/AAAAAAAACLU/c9omraL8U5AhyH8u6A-yFphCvXCxYvU9gCLcBGAsYHQ/w640-h150/Screenshot%2B2021-05-24%2Bat%2B18.09.04.png)

### Requirements
- Input data
- Bring all the sheets together
- Use the Day of Month and Table Names (sheet name in other tools) to form a date field for the purchase called 'Date'
- Create 'New Trolley Inventory?' field to show whether the purchase was made on or after 1st June 2021 (the first date with the revised inventory after the project closed)
- Remove lots of the detail of the product name:
    - Only return any names before the '-' (hyphen)
    - If a product doesn't have a hyphen return the full product name
- Make price a numeric field
- Work out the average selling price per product
- Workout the Variance (difference) between the selling price and the average selling price
- Rank the Variances (1 being the largest positive variance) per destination and whether the product was sold before or after the new trolley inventory project delivery
- Return only ranks 1-5 
- Output the data

### Output
We want to know which two products appeared more than once in the rankings and whether they were sold before or after the project delivery. Tweet us your answer!

![img](https://1.bp.blogspot.com/-NTuxXrdAUSU/YKvjS3y9jBI/AAAAAAAACLc/5T643zvPbf8G7NeS3k24uXhCwtKGsGKfQCLcBGAsYHQ/w640-h122/Screenshot%2B2021-05-24%2Bat%2B18.32.40.png)

One file:
11 fields:
- New Trolley Inventory
- Variance Rank by Destination (remember this also factors in the pre / post project delivery)
- Variance 
- Average Price per Product
- Date
- Product
- First name
- Last Name
- Email
- Price
- Destination

50 rows (51 rows including headers)

In [135]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [136]:
### Input data

In [137]:
data = pd.read_excel("./data/PD 2021 Wk 21 Input.xlsx", sheet_name=["Month 1", "Month 2", "Month 3", "Month 4", "Month 5",
                                                                    "Month 6", "Month 7", "Month 8", "Month 9", "Month 10"])

In [138]:
### Bring all the sheets together

In [139]:
files = []
for i in range(1, 11):
    file_name = "Month " + str(i)
    file = data[file_name].copy()
    files.append(file)

In [140]:
### Use the Day of Month and Table Names (sheet name in other tools) to form a date field for the purchase called 'Date'

In [141]:
for i in range(1, 11):
    files[i-1].loc[:, "Year"] = 2021
    files[i-1].loc[:, "Month"] = i
    files[i-1].loc[:, "Day of Month"] = files[i-1].loc[:, "Day of Month"].astype(int)

In [142]:
for i in range(0, 10):
    date = files[i].apply(lambda df_: str(df_["Year"]) + "/" + str(df_["Month"]) + "/" + str(df_["Day of Month"]), axis=1)
    files[i].loc[:, "Date"] = pd.to_datetime(date, format="%Y/%m/%d")

In [143]:
df = pd.concat(files, axis=0)
df.shape

(10000, 10)

In [144]:
### Create 'New Trolley Inventory?' field to show whether the purchase was made on or after 1st June 2021 (the first date with the revised inventory after the project closed)

In [145]:
df.loc[:, "New Trolley Inventory?"] = False
df.loc[df["Date"] >= "2021-06-01", "New Trolley Inventory?"] = True

### Remove lots of the detail of the product name:
- Only return any names before the '-' (hyphen)
- If a product doesn't have a hyphen return the full product name

In [146]:
df.head()

,Day of Month,first_name,last_name,email,Product,Price,Destination,Year,Month,Date,New Trolley Inventory?
0,9,Daffie,Clemont,dclemont0@unc.edu,Emulsifier,$10.14,New York,2021,1,2021-01-09,False
1,19,Lucio,Muzzall,lmuzzall1@dell.com,Chambord Royal,$33.89,London,2021,1,2021-01-19,False
2,25,Corbie,Shrigley,cshrigley2@sourceforge.net,Apples - Sliced / Wedge,$1.64,Perth,2021,1,2021-01-25,False
3,9,Sioux,Couth,scouth3@bluehost.com,Vinegar - White Wine,$19.84,Paris,2021,1,2021-01-09,False
4,21,Almira,Rickards,arickards4@godaddy.com,Food Colouring - Pink,$20.15,Edinburgh,2021,1,2021-01-21,False

In [168]:
import re
def product_name_preprocessing(df_):
    index_true = df_["Product"].map(lambda x: bool(re.findall(r"[-]+", x)))
    df_.loc[index_true, "Product"] = df_.loc[index_true, "Product"].map(lambda x: x.split("-")[0])
    return df_

In [170]:
df_test = product_name_preprocessing(df)
df_test["Product"].value_counts()

Wine                        692
Cheese                      296
Bread                       265
Soup                        194
Beef                        179
                           ...
Soup Bowl Clear 8oz92008      1
Ham Black Forest              1
Iced Tea Concentrate          1
Maple Syrup                   1
Creme De Cacao Mcguines       1
Name: Product, Length: 1028, dtype: int64